*{
    margin: 0;
    padding: 0;
}
body{
    background-color: silver;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}
.tracy{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px 2px black;
    font-style: oblique;
    background-color: teal;
    font-size: 2rem;
}
.image img{
    float: right;
    border-radius: 10px;
    height: 500px;
    margin-top: 2%;
    margin-right: 2%;
}
.about-me{
    background-color: white;
    height: 1350px;
    margin-bottom: 2%;
    width: 60%;
    padding: 2%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 2%;
}
#education{
    height: 300px;
    width: 100%;
    position: relative;
}
#education h2{
    text-align: center;
    margin-top: 2%;
    font-size: 2.5rem;
}
#education ul{
    list-style: disc;
    font-size: 2rem;
    margin-left: 35%;
    line-height: 1.5;
}
#education .topic{
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}



body{
    background-color: silver;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}

#education{
    color: red;
    font-family: cursive;
}

.tracy{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px 2px black;
    font-style: oblique;
    background-color: teal;
}
.image{
    float: right;
    border: 5px solid;
    border-radius: 10px;
}
